@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-200 font-body;
}

.glass-panel {
  @apply bg-slate-900/40 backdrop-blur-xl border border-slate-700/50 shadow-lg;
}
